*{
    margin: 0 ;
    padding: 0 ;
}

:root{
    --card-clr : #1C1C1C;
    --font-clr : #FFFF;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.userCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 1rem;   
}

.items{ 
    font-size: clamp(1rem , 2vw , 1.5rem);
    padding-top: .110rem;
}

.title p{
    color: lightgray;
}

.content > .text{
    font-size: clamp(1rem , 2vw , 2rem);
}

.userCard > .items{
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    background-color: var(--card-clr);
    color: var(--font-clr);
    padding: 2rem;
 }

.items > .title {
    display: flex;
    gap: 1rem;
    align-items : center;
}

.span2{
    grid-column: span 2;
}

.content h2{
    margin-bottom: 0.9rem;
}

img{
    border-radius: 50%;
    max-width: 5rem;
    width: 30%;
}